<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <title>Vue.js</title>
</head>

<body>

    <div id="app">
        <div v-if="comprou" :style="{background: cor}">
            <h1>{{titulo}}</h1>
            <p>{{conteudo}}</p>
            <p>{{ lado * lado }}</p>
            <p>{{comprou ? 'Sim, ele comprou' : 'Não, ele não comprou'}}</p>
            <input v-model="cor" type="color">
            {{cor}}
        </div>

        <!-- v-show = display: none -->

        <a :href="comprou ? href : '' ">{{href}}</a>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                titulo: "Curso de javascript",
                conteudo: "Esse é o conteudo",
                lado: 5,
                comprou: true,
                href: "https://www.origamid.com",
                cor: "#333"
            }
        });
    </script>

</body>

</html>